<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>  تقویم </title>
	{% load static %}
	<!--<link rel="stylesheet" href="main.css">-->
	<!--<link rel="stylesheet" href="jspc-royal_blue.css">-->
	<!--<script type="text/javascript" src="js-persian-cal.min.js"></script>-->

	<link rel="stylesheet" href="{% static 'main.css' %}">
	<link rel="stylesheet" href="{% static 'jspc-royal_blue.css' %}">
	<script type="text/javascript" src="{% static 'js-persian-cal.min.js' %}"></script>

</head>
<body>
	<div>
		<label for="pcal5">تاریخ ۵ - همراه پر کردن فیلد اضافی</label><br>
		<input type="text" id="pcal5" class="pdate"><br>
		<label for="extra">yyyy/mm/dd</label><br>
		<!--<label for="extra">YYYY/MM/DD - yyyy/mm/dd - JD</label><br>-->
		<input type="text" id="extra" class="pdate wide">
	</div>

	<script type="text/javascript">
		
		var objCal5 = new AMIB.persianCalendar( 'pcal5', {
				extraInputID: 'extra',
				//extraInputFormat: 'YYYY/MM/DD - yyyy/mm/dd - JD'
				extraInputFormat: 'yyyy/mm/dd'
			}
		);
	</script>
</body>

</html>