<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/css" src="{% static 'script.js' %}"></script>
    <title>Title </title>
</head>
<body class="body">
    <div class="topHeader">
        <h1> عباس ازوجی</h1>
    </div>
    <hr>
        <div class="rightCol">
            دسته بندی ها
        </div>
        <div class="leftCol">
           {% if rest_list %}
            <div class="mdl-grid">
                    {% for rest in rest_list %}
                    <div >
                        <div class="item">
                            <div  {% if rest.photo %} style="background: url('{{ rest.photo.url }}');background-size: cover" {% endif %}>
                                <h2 >{{ rest.name }}</h2>

                            </div>
                            <div >
                                {{ rest.menu|linebreaks}}
                            </div>
                            <div >
                                    <a >{{ rest.address }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    <br>

        <div class="leftCol">
            <br>
                <form action='actionUrl' method='GET'>
                    <button type='submit' id="byName"> نام رستوران</button>
                    <button type='submit' id="byDate">تاریخ </button>
                </form>
            </br>
        </div>
    </br>
</body>
</html>