
<!DOCTYPE HTML>
<html>
	<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          {% load static %}
      <title>Tour Details</title>
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'style.css' %}" >
      <!--<link rel="stylesheet" href="{% static 'css/style.css' %}" >-->
  </head>

<body>
  <div id ="bgDiv" class="bg">
      <div id="root" class="pageTitle" >تورهای عمومی</div>
        <script src="{% static 'api/tourDetails.js' %}"></script>
  </div>
</body>

</html>